
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
  <title>Home</title>
</head>
<body id="home-body">
  <header>
    <h1>Nikola Tesla</h1>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <ul class="navbar">
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <img src="/public/images/N.Tesla.JPG" alt="Nikola" />
    </ul>
  </header>
  <article>
    <p><h4> Was a Serbian-American inventor, electrical engineer, mechanical engineer, and futurist best known for his contributions to the design of the modern alternating current (AC) electricity supply system. </h4> </p>
  </article>
  <hr class="home-hr"></hr>
  <main id="home-main">
    <div class="home-divs">
      <h2>Considered one of the greatest inventors of all time.</h2>
      <h3><a href="https://www.youtube.com/watch?v=mvyJrY1ZmLY&ab_channel=Yarnhub">Introduction</a></h3>
    </div>
  </main>
</body>
</html>