
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="./CSS/style.css" />
  <title>Works</title>
</head>
<body>
  <header>
    <h1>Inventions</h1>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </header>
  <main id="works-main">
    <div class="work-divs">
      <h2>The most importans:</h2>
      <ul>
        <li><h3>1. Tesla coil</h3></li>
        <p>Probably Tesla’s most famous invention and certainly one of his most spectacular, the Tesla coil was a product of his ambition to create a system that could transmit electricity wirelessly.</p>
        <img src= "/images/coil.webp" alt="coil"/>
        
        <li><h3>2. Tesla turbine</h3></li>
        <p>Inspired by the emergent success of the piston engine in automobiles, Tesla decided to develop his own turbine-style engine. Also known as the boundary-layer turbine and cohesion-type turbine, Tesla’s turbine was distinct in its design. Unlike conventional turbines Tesla’s design was bladeless, instead employing smooth discs rotating in a chamber to generate movement.</p>
        <img src= "/images/turbine.jpg" alt="turbine"/>
        
        <li><h3>3. Radio</h3></li>
        <p>You’re probably thinking hang on a minute didn’t Guglielmo Marconi famously invent radio? Well, it turns out that Marconi’s claim is at least debatable. In fact, using his coils, Tesla made promising advances in the transmission and reception of radio signals in the mid-1890s, before Marconi took out the first wireless telegraphy patent in 1896.</p>
        <p>In early 1895 Tesla was ready to send a radio signal 50 miles, from his lab at 33 and 35 South Fifth Avenue in Manhattan, to West Point, NY but disaster struck before his ground-breaking test could be completed: a building fire destroyed Tesla’s lab, taking his work with it. A year later, Marconi took out his first wireless telegram patent in England.</p>
        <p>what a coincidence isn't it...</p>
        <img src= "/images/marconi.webp" alt="marconi"/>

        <li><h3>4. Magnifying transmitter</h3></li>
        <p>Like so much of Tesla’s work, the Magnifying transmitter was an expansion of his Tesla coil technology. Having set up a lab in Colorado Springs in 1899, he had the space and resources to create the biggest Tesla coil yet. He called this triple coil system the magnifying transmitter. It was 52 feet in diameter, generated millions of volts of electricity and produced 130-foot-long lightning bolts.</p>

        <li><h3>5. Induction motor</h3></li>
        <p>As with many of Tesla’s innovations, credit for the invention of the induction motor was contested. In this case, Tesla pipped the Italian inventor Galileo Ferraris, who developed the same technology at more or less the same time, to the post. Though Ferraris presented his concept of a motor that uses electromagnetic induction to spin its rotor first, Tesla filed his patents ahead of the Italian.</p>
        <img src= "/images/m.induction.jfif" alt="induction"/>

        <li><h3>6. Alternating current</h3></li>
        <p>Arguably Tesla’s greatest contribution to humanity was his influence on the development of alternating current (AC). Perhaps it shouldn’t, strictly speaking, feature in a list of his inventions, but there’s no doubt that his technology was instrumental in the emergence of AC as the world’s dominant electrical system.</p>
        <p>Tesla’s enthusiasm for AC was vociferously contested by Thomas Edison – for whom Tesla worked in the 1880s – who strongly favoured DC. Edison considered alternating current to be more dangerous than direct current and a very public ‘War of the Currents’ ensued, with AC’s biggest champion, George Westinghouse, using Tesla’s induction motor in his completely integrated AC system. Despite Edison’s opposition, Westinghouse’s belief in AC was ultimately vindicated.</p>
        <img src= "/images/tesla-vs-edison.jpg" alt="vs"/>

        <li><h3>7. Hydroelectric power</h3></li>
        <p>One of the most impressive products of Tesla’s partnership with George Westinghouse was surely Adams Power Station, the world’s first hydroelectric power plant. This innovative powerhouse realised a long-held hope that the awesome force of Niagara Falls, one of North America’s most spectacular natural wonders, could be harnessed. The project was the indirect result of a competition, organised by the International Niagara Falls Commission, to find a plan that would succeed in doing just that.</p>
        <img src= "/images/hidraulic.webp" alt="hidraulic"/>

        <li><h3>8. The shadowgraph</h3></li>
        <p>Another area of Tesla’s research that was likely curtailed by the fire that destroyed his New York lab in 1895 relates to the emergence of X-ray technology. Famously, German scientist Wilhelm Conrad Röntgen developed the first X-ray on the 8 November of that same year, a ground-breaking achievement that earned him the inaugural Nobel Prize in 1901.</p>
        <p>Inspired by Röntgen’s X-ray, Tesla renewed his own interest and developed the Shadowgraph using a vacuum tube. His image of a shoe with a foot in it, produced in 1896, is thought to be America’s first X-ray.</p>
        <img src= "/images/Shadowgraph.1.jpg" alt="shadow1"/>
        <img src= "/images/Shadowgraph.2.jpg" alt="shadow2"/>

        <li><h3>9. Neon lights</h3></li>
        <p>Neon lights are another example of a technology that Tesla advanced rather than invented. A Frenchman, Georges Claude, ushered in the neon age when he displayed a pair of 38-foot-long neon tube lights at the Paris Motor Show in 1910. But something akin to neon lighting had been developed decades earlier in the mid-19th century by Heinrich Geißler, a German glassblower and physicist who produced neon-like effects by running a current through glass tubes filled with gasses like argon.</p>
        <p>Tesla was in possession of several of Geißler’s tubes and observed that they lit up in succession as he adjusted the frequency of his coil. This chance discovery was a dramatic realisation of his interest in wireless energy. In 1893, he displayed a selection of discharge lights that lit up without being powered by electrodes or wires at the Chicago World’s Fair.</p>
        <img src= "/images/neon.jpg" alt="neon"/>

        <li><h3>10. Tesla valve</h3></li>
        <p>Tesla’s extraordinary legacy continues to bear fruit nearly 80 years after his death. As recently as 2021, his 1920 patented ‘vavular conduit’ was revisited by scientists, who identified a variety of new applications for Tesla’s century-old design. While Tesla is obviously better known for his work with electrical currents and circuits, the valve is an interesting example of his genius being applied to a different scientific field.</p>
        <p>The device, which has no moving parts, features a series of interconnected teardrop-shaped loops that provide a clear path for the forward flow of liquid while limiting the speed of reverse flow. It’s thought that a re-engineered version of the Tesla valve could provide an effective alternative to the conventional check valve, allowing flows to be controlled without the need for moving parts.</p>
        <h3><a href="https://www.youtube.com/watch?v=suIAo0EYwOE&ab_channel=Lesics">Introduction</a></h3>
      </ul>
    </div>
  </main>
</body>
</html>