/* general*/

body {
  background-color: rgb(22, 86, 224);
  font-family:'Courier New', Courier, monospace;
  background-image:url(../images/sitTesla.jpg);
  }
  header {
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    font-size: 1.5vw;
    background-color: rgba(252, 2, 2, 0.651);
    color: #e7e004;
  }
  
  header a {
    text-decoration: none;
    color: rgb(218, 199, 199);
  }


  header a:hover {
    font-weight: bold;
  }
  .navbar {
    display: flex;
    list-style: none;
    gap: 2vw;
    margin: 1vw 2vw;
  }


  /* home */
  
  #home-body {
   
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:  rgb(16, 92, 234);
    color: #e7e004;
  }
 
  article {
    margin: 35vw 0 30vw 5vw;
  }
  article h4 {
    font-size: 3vw;
    text-shadow: 2px 2px rgba(82, 64, 64, 0.918);
  }
  article p {
    font-size: 2vw;
    width: 35vw;
    text-shadow: 2px 2px rgba(218, 199, 199, 0.897);
  }

   article img {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 800px;
  }
  
  #home-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .home-divs a {
    font-size: 1.5em;
    border: 3px solid rgb(82, 64, 64);
    padding: 2px 5px;
    background-color: rgb(82, 64, 64);
    color: rgb(218, 199, 199);
    border-radius: 30px;
  }
  .home-divs > img {
    height: 250px;
    width: 450px;
    margin: 2vw 0;
  }
  .home-divs > p {
    width: 450px;
    text-align: center;
    font-weight: bold;
  }
  
  /* about */
  
  #about-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    background-color: rgba(198, 234, 16, 0.547);
    color: rgb(58, 39, 39);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.832);
  }

  .about p {
    font-family:'Courier New', Courier, monospace;
  }

  .about-divs {
    display: flex;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace;
  }
 
  .about-divs  h2 {
    margin-left: 1vw;
    font-size: 2em;
    text-decoration: underline;
  }
  

  /* works */
  
  #works-main  {
    text-align: center;
    background-color: rgba(198, 234, 16, 0.547);
    color: rgb(58, 39, 39);
    text-shadow: 2px 2px white;
    
  }

  .work-divs {
    display: center;
    font-weight: bold;
  }

  .work-divs a {
    color: black;
    font-size: 1.25em;
  }
  .work-divs img {
    height: 200px;
    width: 300px;
    margin-top: 20px;
  }
  .work {
    text-align: center;
  }
  .works-hr {
    border: 2px solid rgb(82, 64, 64);
      margin: 1.5vw 30vw;
  }

